/*
 * GENERALES *
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: $font-1;
    font-size: 20px;
}

img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

